#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-color: rgb(218, 23, 23);
}

.head{
  display: flex;
  flex-wrap: wrap;
  margin: 2em;
padding: 1em;
text-align: center;
text-shadow: 2px;
justify-content: space-between;
align-items: center;
background-color: white;
border-radius: 3em;
}

.title{
  font-size: 300px;
  cursor:pointer;
  color:rgb(243, 51, 51);
    position:relative;
    padding:10px 20px;
    background:white;
    font-size:28px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    transition:all 1s;
    &:after,&:before{
      content:" ";
      width:10px;
      height:10px;
      position:absolute;
      border :0px solid #fff;
      transition:all 1s;
      }
    &:after{
      top:-1px;
      left:-1px;
      border-top:5px solid black;
      border-left:5px solid black;
    }
    &:before{
      bottom:-1px;
      right:-1px;
      border-bottom:5px solid black;
      border-right:5px solid black;
    }
    &:hover{
      border-top-right-radius:0px;
    border-bottom-left-radius:0px;
      &:before,&:after{
        
        width:100%;
        height:100%;
    
      }
    }
  }
  


.logo {
  height: 4em;
  padding: 5px;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #0376faaa);
}

.mini-user{
  text-align: center;
  padding: 1em;
  color:black;
  background-color:white;
  width: 200px;
  margin-right: 50px;
  border-radius: 5em;
  border-style: solid;
  border-width: medium;
}



.topic-nav-bar{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0.5em;
  padding: 1em;
  text-align: center;
  text-shadow: 2px;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 3em;
}
.loading{
  text-align: center;
  background-color: aliceblue;
  color: black;
}

.nav-button{
  background-color: white;
  border-radius: 20px;
  border-style: solid;
  border-width: medium;
}
.nav-button:hover{
background: yellow;
}
.sort-by{
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  text-align: center;
  text-shadow: 2px;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 3em;
}
.sorted-by-label{
  background-color: white;
  text-align: center;
  border-radius: 1.5em;
}
.sort-by-input{

  text-decoration: bold;
}
.menu{
  background-color:white;
  border-radius: 3em;
}

h4{
  color:black
}

.title-article-card{
  margin-top: 1em;
  font-weight: bold;
  margin-left: 1em;
  width: 230px;

}
.title-article-card:hover {
 background-color: white
}
.button-article-card:hover{
background-color: yellow;
}
.article-card:hover{
  filter: drop-shadow(0 0 2em yellow);
}
.photo-article-card:hover{
  background-color:  white
}

.photo-article-card{
  width: 200px;
  text-align: center;
}

.footer-article-card{
  display: flex;
  flex-wrap: wrap;
  text-align: center;

}
.user{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: white;
  color: black;
  border-radius: 3em;
  margin: 2em;
padding: 4em;
text-shadow: 2px;
align-items: center;

}

.form-user{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: white;
  color: black;
  border-radius: 3em;
  margin: 2em;
padding: 4em;
text-shadow: 2px;
align-items: center;
}

.list-user-card{
  border-style: solid;
  border-radius: 3em;
  margin: 2em;
  padding: 2em;
}
.list-users{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}


.listArticles-card{
  display: flex;
flex-wrap: wrap;
list-style: none;
margin: 2em;
padding: 1em;
text-align: center;
text-shadow: 2px;
justify-content: space-around;
align-items: center;
background-color: white;
border-radius: 3em;
}




.article-class{

  text-align: left;
  align-items: left;
  background-color: white;
  list-style: none;
  margin: 2em;
  padding: 1em;
  text-shadow: 2px;
  border-radius: 3em;
}

.comment-card{
  text-align: left;
  list-style: none;
}


.like-comment{
  border-radius: 5em;
}
.list-user-card:hover{
  background:  rgb(243, 247, 18);
}
.like-comment:hover{
  filter: drop-shadow(0 0  1em rgb(247, 18, 87));
}
.bin:hover{
  background-color: rgb(102, 158, 233);

}
.bin{
  margin-left: 2em;
}
.like-comment:active{
 background-color:  rgb(247, 18, 87);
}
.input-comment{
width: 700px;
}
.input-sortby{
  width: 10rem;
}
.error-input{
  color:crimson;
}

.article-photo{
  text-align: left;
}

.error{
  color: black;
  background-color: whitesmoke;
  text-align: center;
  width: 60em;
  height: 30em;
}
    

.footer{
  display: flex;
  margin: 2em;
padding: 1em;
text-align: center;
text-shadow: 2px;
justify-content: space-around;
align-items: center;
background-color: white;
border-radius: 3em;
}


