#root {
  max-width: 1000px;
  margin: 0 auto;
  background-color: rgb(218, 23, 23);
}

.head{
  display: flex;
  flex-wrap: wrap;
text-align: center;
justify-content: space-between;
align-items: center;
background-color: white;
}

.nc-news{
  color:rgb(243, 51, 51);
}
.title{

  cursor:pointer;

    position:relative;
    padding:10px 20px;
    background:white;
    font-size:28px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    transition:all 1s;
    &:after,&:before{
      content:" ";
      width:10px;
      height:10px;
      position:absolute;
      border :0px solid #fff;
      transition:all 1s;
      }
    &:after{
      top:-1px;
      left:-1px;
      border-top:5px solid black;
      border-left:5px solid black;
    }
    &:before{
      bottom:-1px;
      right:-1px;
      border-bottom:5px solid black;
      border-right:5px solid black;
    }
    &:hover{
      border-top-right-radius:0px;
    border-bottom-left-radius:0px;
      &:before,&:after{
        
        width:100%;
        height:100%;
    
      }
    }
  }
  

.logo {
  height: 2em;
  width: 2em;
  padding: 1em;
  text-align: center;
}

.user-avatar{
  height: 4em;
  padding: 1em;
}


.mini-user{
  text-align: center;
  padding: 1em;
  color:black;
  background-color:white;
  width: 13em;
  margin-right: 3em;
}

.user-name{
  margin-top: 0px;
}
/* .mini-user:hover{

  border-radius: 6em;
  border-style: solid;
  border-width: medium;
} */


.mini-photo{
  border-radius: 4em;
  border-style: solid;
  border-width: medium;
  background-color: white;
  margin-bottom: 0px;
}



.topic-nav-bar{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0.5em;
  padding: 0.5em;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 6em;
}
.loading{
  text-align: center;
  background-color: white;
  color: gray;
  height: 8em;
  margin: 3em;
  padding: 2em;
}
.login-button{
  background-color: white;
  border-radius: 3em;
  border-style: solid;
  border-width: medium;
  margin: 0.5em;
  padding: 0.5em;
}
.nav-button{
  background-color: white;
  border-radius: 2em;
  border-style: solid;
  border-width: medium;
  margin: 2em;
  padding: 1em;
}
.nav-button, .login-button{
background-color:   LightCoral;
}
.sort-by{
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em;
  margin:0.5em;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 3em;
}
.sorted-by-label{
  background-color: white;
  text-align: center;
  border-radius: 1.5em;
}
.sort-by-input{

  text-decoration: bold;
}
.menu{
  background-color:white;
  border-radius: 3em;
}

h4{
  color:black
}

.title-article-card{
  width: 8em;
  margin-right: 5px; 
  font-size: small;
}

.button-article-card:hover{
background-color: LightCoral;
}

.seeMore{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.article-card{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  margin: 0.5em;

}
.article-card:hover{
  border-radius: 3em;
  border-style: solid;
  border-width: medium;
 
}
.top-card{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  
}
.listArticles-card{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: left;

}


.photo-article-card{
  width: 8em;
  text-align: center;
}



.footer-article-card{
  padding: 0;
  margin: 0;
  font-size: smaller;
  text-align: center;
}


.user{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: white;
  color: black;
  border-radius: 3em;
  margin: 2em;
padding: 4em;
align-items: center;
justify-content: center;


}


.list-user-card{
  border-style: solid;
  border-radius: 3em;
  margin: 0.5em;
  padding: 0.5em;
}
.list-users{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}


.listArticles-card{
  display: flex;
flex-wrap: wrap;
list-style: none;
margin: 2em;
padding: 1em;
text-align: center;
justify-content: space-around;
align-items: center;
background-color: white;
border-radius: 3em;
color: black;
}

.photoArticle{
  width: 37em;
}


.article-class{

  text-align: left;
  align-items: left;
  background-color: white;
  list-style: none;
  margin: 3em;
  padding: 2em;
  text-shadow: 2px;
  border-radius: 3em;
  color: black;
  width: 40em;
}

.comment-card{
  text-align: left;
  list-style: none;
  font-size: smaller;
}


.like-comment{
  border-radius: 5em;
}
.list-user-card:hover{
  background:  rgb(243, 247, 18);
}
.like-comment:hover{
  filter: drop-shadow(0 0  1em  rgb(218, 23, 23));
}
.bin:hover{
  background-color: LightCoral;

}
.bin{
  margin-left: 2em;
}
.like-comment:active{
 background-color:  rgb(247, 18, 87);
}
.input-comment{
width: 38em;
}
.input-sortby{
  width: 10rem;
  height: 3em;
}
.error-input{
  color: rgb(218, 23, 23);;
}
.input-user{
  height: 3em;
}
.article-photo{
  text-align: left;
}

.error{
  color: black;
  background-color: white;
  text-align: center;
  width: 38em;
  height: 20em;
padding: 5em;
margin: 2em;
}

.errorTitle{
  margin-top: 2em;
  padding: 2em;
  text-align: center;
}

.footer{
  display: flex;
text-align: center;
justify-content: space-around;
align-items: center;
background-color: white;
}


