:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color:black;
  text-decoration: inherit;
}
a:hover {
  color: black
}

body {
  margin: 0;
  display: flex;
  place-items: center;

}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 2px solid;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;


}
button:hover {
  border-color: wheat;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

